$font-family: 'Montserrat', sans-serif;

// theme colors
$primary-color: #22C1B3;
$darker-color: #3C5360;
$lighter-color: #C3D7DE;
$black-color: #072424;

$true-black-color: #000000;
$true-white-color: #FFFFFF;

$error-color: #AA1B1B;

// font size
$font-size-sml: 0.8rem;
$font-size-md: 1.3rem;
$font-size-lg: 2rem;


// border radius
$border-sml: 5px;
$border-md: 10px;
$border-lg: 15px;
